{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": true,
	"printWidth": 120,
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
