---
import Layout from '@/layouts/Layout.astro';
import ArtistsCarousel from '@/components/ArtistsCarousel.astro';
import Footer from '@/components/Footer.astro';
---

<Layout>
	<ArtistsCarousel />
	<main class="max-w-6xl mx-auto p-6">
		<article>
			<h2 class="h2">ADELE</h2>
			<p class="p mb-1">
				Adele Laurie Blue Adkins, conocida simplemente como Adele, es una cantautora y multinstrumentista
				británica. Es una de las artistas musicales con mayores ventas del mundo, con más de 120 millones de
				ventas entre discos y sencillos. Desde pequeña mostró interés por la música y en 2006 se egresó de la
				BRIT School, año en el que firmó un contrato con XL Recordings, tras ser descubierta por unos demos que
				un amigo publicó en la red social MySpace. En 2008, lanzó su álbum de estudio debut, 19, el cual se
				situó en la posición 1 de la lista de álbumes británica y ha sido certificado ocho veces platino en
				Reino Unido y triple platino en Estados Unidos.
			</p>
			<p class="p">
				En los Premios Brit de 2008 recibió el galardón «elección de los críticos» y también ganó la encuesta
				Sound of 2008 realizada por la BBC. Un año después, en la 51.ª entrega de los Premios Grammy ganó los
				galardones mejor artista nuevo y mejor interpretación vocal pop femenina por «Chasing Pavements». Es
				según la revista Rolling Stone la cantante más grande del siglo XXI y la número 22 de toda la historia.
			</p>
		</article>
		<article>
			<h2 class="h2">TWENTY ONE PILOTS</h2>
			<p class="p">
				Twenty One Pilots es un dúo musical estadounidense de Columbus, Ohio. La banda se formó en 2009 por el
				vocalista Tyler Joseph junto con Nick Thomas y Chris Salih, quienes la abandonaron en 2011. Desde su
				partida, la formación ha consistido en el cantante Tyler Joseph y el baterista Josh Dun. El grupo es
				principalmente conocido por los sencillos "Stressed Out", "Ride" y "Heathens". El grupo recibió un
				Premio Grammy al mejor pop de dúo/grupo en los Premios Grammy de 2017.
			</p>
			<p class="p">
				La banda lanzó de forma independiente dos álbumes Twenty One Pilots y Regional at Best, antes de ser
				firmada por el sello discográfico Fueled by Ramen en 2012. Su debut en el sello, Vessel, fue lanzado en
				2013. El dúo logró un éxito revolucionario con su cuarto álbum, Blurryface, que produjo los exitosos
				sencillos "Stressed Out" y "Ride" y se convirtió en el primer álbum en la historia en el que cada
				canción recibió al menos una certificación de oro de la Asociación de Industria Discográfica de Estados
				Unidos. El lanzamiento del sencillo "Heathens" también convirtió al grupo en el primer artista
				alternativo en tener dos sencillos entre los diez mejores concurrentes en los Estados Unidos.
			</p>
		</article>
		<article>
			<h2 class="h2">LANA DEL REY</h2>
			<p class="p">
				Elizabeth Woolridge Grant, conocida artísticamente como Lana Del Rey, es una cantante, compositora,
				modelo, actriz, escritora, productora y poetisa estadounidense. Su música se distingue por su calidad
				cinematográfica, su estilo retro y su exploración del romance trágico, el glamur y la melancolía. Con
				frecuentes referencias a la cultura pop contemporánea y a la época dorada de los años 1950 y 1960 en
				Estados Unidos.
			</p>
			<p class="p">
				La revista estadounidense Rolling Stone incluyó a Del Rey en su lista de los 200 mejores cantantes de
				todos los tiempos en 2023, mientras que su edición británica la distinguió como la mejor compositora
				estadounidense del siglo XXI en el mismo año. Además, la revista Time la destacó como una de las 100
				personas más influyentes del mundo en 2012. Criada en el norte del estado de Nueva York, comenzó a
				actuar en clubes de la ciudad de Nueva York a los 18 años y firmó su primer contrato discográfico cuando
				tenía 20 con 5 Points Records. En enero de 2010, lanzó su álbum de estudio debut Lana Del Ray. Después
				del fracaso de aquel proyecto, el avance de Lana Del Rey en la industria se produjo tras el éxito viral
				de su sencillo debut «Video Games» en 2011.
			</p>
		</article>
		<article>
			<h2 class="h2">RAYE</h2>
			<p class="p">
				Rachel Agatha Keen, conocida como RAYE, es una cantante y compositora británica. Alcanzó la fama tras la
				publicación en 2016 de una canción de Jonas Blue, «By Your Side», en la que participó como vocalista y
				tuvo gran popularidad en la lista de éxitos musicales de Reino Unido. Su siguiente colaboración, «You
				Don't Know Me» junto con Jax Jones, obtuvo aún mayor notoriedad y se situó en la posición 3 en el
				listado de sencillos británicos.
			</p>
			<p class="p">
				También ha aparecido en otros sencillos de otros artistas incluyendo «Secrets» de Regard y «Bed» de Joel
				Corry y David Guetta, los cuales le han valido certificaciones BPI de estado platino. Como compositora
				de canciones, Raye ha escrito pistas para artistas como Beyoncé, Little Mix, John Legend y Ellie
				Goulding. En 2019, recibió un premio BPI en reconocimiento a su arte innovador, visión creativa e
				impacto en el futuro de la música.
			</p>
		</article>
		<article>
			<h2 class="h2">KATY PERRY</h2>
			<p class="p">
				Katheryn Elizabeth Hudson, conocida artísticamente como Katy Perry, es una cantante, actriz, modelo,
				productora discográfica, bailarina, compositora, personalidad de televisión y empresaria estadounidense.
				Es una de las artistas musicales con mayores ventas, con más de 151 millones de unidades vendidas en
				todo el mundo. Ha dejado una influencia en la música pop gracias a su estilo camp, por lo que Vogue y
				Rolling Stone la han apodado la «Reina del Camp».
			</p>
			<p class="p">
				Billboard la posicionó en el cuarto lugar de su lista de «Los mejores artistas de canciones pop de todos
				los tiempos», en el puesto veinticinco de su ranking de «Los artistas pop más grandes del siglo XXI», y
				en la quinta posición de la lista «Las cantantes más populares y poderosas del siglo XXI». A los 16
				años, Perry lanzó un álbum de música góspel titulado Katy Hudson bajo el sello Red Hill Records, que no
				tuvo éxito comercial. A los 17 años, se trasladó a Los Ángeles para incursionar en la música secular,
				adoptando posteriormente el nombre artístico de Katy Perry, basado en el apellido de soltera de su
				madre.
			</p>
		</article>
		<article>
			<h2 class="h2">AMY WINEHOUSE</h2>
			<p class="p">
				Amy Jade Winehouse fue una cantante, compositora y multiinstrumentista británica. Es conocida por su
				poderosa y profunda voz de contralto y su ecléctica mezcla de géneros musicales, que incluyen soul,
				jazz, R&B y ritmos caribeños como el ska. Proveniente de una familia con una fuerte tradición musical
				ligada al jazz, comenzó su carrera artística cuando aún era una adolescente, actuando en pequeños clubes
				del género en Londres. Su debut en la escena musical británica se produjo en 2003 con el álbum Frank,
				que, aunque elogiado por la crítica musical, inicialmente no logró buenas ventas.
			</p>
			<p class="p">
				Recién en 2006, con el
				lanzamiento de su segundo álbum de estudio, Back to Black, Winehouse adquirió protagonismo como artista.
				El disco recibió elogios de la crítica e, impulsado por el éxito de «Rehab», la canción insignia de
				Winehouse, alcanzó ventas récord en territorios británicos y estadounidenses. El álbum fue el más
				vendido en el mundo en 2007, con seis millones de copias vendidas, y, al ganar cinco trofeos durante la
				50.ª edición de los Premios Grammy, en 2008, consagró a la cantante como, hasta entonces, la artista
				británica más premiada en tan solo una edición del mencionado premio.
			</p>
		</article>
	</main>
	<Footer />
</Layout>

<style>
	@reference "tailwindcss";

	main {
		@apply space-y-4 border border-zinc-800 lg:mb-6;
	}
	article {
		@apply space-y-2;
	}
</style>
