---
import Layout from '@/layouts/Layout.astro';
import ArtistsCarousel from '@/components/ArtistsCarousel.astro';
---

<Layout>
	<ArtistsCarousel />
	<main class="max-w-6xl mx-auto p-6">
		<article>
			<h2 class="h2">ADELE</h2>
			<p class="p mb-1">
				Adele Laurie Blue Adkins, conocida simplemente como Adele, es una cantautora y multinstrumentista británica. Es
				una de las artistas musicales con mayores ventas del mundo, con más de 120 millones de ventas entre discos y
				sencillos. Desde pequeña mostró interés por la música y en 2006 se egresó de la BRIT School, año en el que firmó
				un contrato con XL Recordings, tras ser descubierta por unos demos que un amigo publicó en la red social
				MySpace. En 2008, lanzó su álbum de estudio debut, 19, el cual se situó en la posición 1 de la lista de álbumes
				británica y ha sido certificado ocho veces platino en Reino Unido y triple platino en Estados Unidos.
			</p>
		</article>
		<article>
			<h2 class="h2">TWENTY ONE PILOTS</h2>
			<p class="p">
				Twenty One Pilots es un dúo musical estadounidense de Columbus, Ohio. La banda se formó en 2009 por el vocalista
				Tyler Joseph junto con Nick Thomas y Chris Salih, quienes la abandonaron en 2011. Desde su partida, la formación
				ha consistido en el cantante Tyler Joseph y el baterista Josh Dun. El grupo es principalmente conocido por los
				sencillos "Stressed Out", "Ride" y "Heathens". El grupo recibió un Premio Grammy al mejor pop de dúo/grupo en
				los Premios Grammy de 2017.
			</p>
		</article>
		<article>
			<h2 class="h2">LANA DEL REY</h2>
			<p class="p">
				Elizabeth Woolridge Grant, conocida artísticamente como Lana Del Rey, es una cantante, compositora, modelo,
				actriz, escritora, productora y poetisa estadounidense. Su música se distingue por su calidad cinematográfica,
				su estilo retro y su exploración del romance trágico, el glamur y la melancolía. Con frecuentes referencias a la
				cultura pop contemporánea y a la época dorada de los años 1950 y 1960 en Estados Unidos.
			</p>
		</article>
		<article>
			<h2 class="h2">RAYE</h2>
			<p class="p">
				Rachel Agatha Keen, conocida como RAYE, es una cantante y compositora británica. Alcanzó la fama tras la
				publicación en 2016 de una canción de Jonas Blue, «By Your Side», en la que participó como vocalista y tuvo gran
				popularidad en la lista de éxitos musicales de Reino Unido. Su siguiente colaboración, «You Don't Know Me» junto
				con Jax Jones, obtuvo aún mayor notoriedad y se situó en la posición 3 en el listado de sencillos británicos.
			</p>
		</article>
		<article>
			<h2 class="h2">KATY PERRY</h2>
			<p class="p">
				Katheryn Elizabeth Hudson, conocida artísticamente como Katy Perry, es una cantante, actriz, modelo, productora
				discográfica, bailarina, compositora, personalidad de televisión y empresaria estadounidense. Es una de las
				artistas musicales con mayores ventas, con más de 151 millones de unidades vendidas en todo el mundo. Ha dejado
				una influencia en la música pop gracias a su estilo camp, por lo que Vogue y Rolling Stone la han apodado la
				«Reina del Camp».
			</p>
		</article>
		<article>
			<h2 class="h2">AMY WINEHOUSE</h2>
			<p class="p">
				Amy Jade Winehouse fue una cantante, compositora y multiinstrumentista británica. Es conocida por su poderosa y
				profunda voz de contralto y su ecléctica mezcla de géneros musicales, que incluyen soul, jazz, R&B y ritmos
				caribeños como el ska. Proveniente de una familia con una fuerte tradición musical ligada al jazz, comenzó su
				carrera artística cuando aún era una adolescente, actuando en pequeños clubes del género en Londres. Su debut en
				la escena musical británica se produjo en 2003 con el álbum Frank, que, aunque elogiado por la crítica musical,
				inicialmente no logró buenas ventas.
			</p>
		</article>
	</main>
</Layout>

<style>
	@reference "tailwindcss";

	main {
		@apply space-y-4 border border-zinc-800 lg:mb-6;
	}
	article {
		@apply space-y-3;
	}
</style>
