---
import Layout from '../layouts/Layout.astro';
import HeroImage from '../assets/images/historia-musica-hero.webp';
import PixelTriangle from '../assets/figures/pixel-triangle.svg';
import { Image } from 'astro:assets';
import Card from '../components/Card.astro';
---

<Layout>
	<section class="hero">
		<div class="hero__content">
			<h1>
				<span class="h1 mt-16">Historia</span><br /><span class="text-3xl font-bold text-zinc-200">de la Música</span>
			</h1>
			<div
				class={`artist-figure relative flex h-full items-center justify-center overflow-hidden shadow-2xl transition-shadow duration-300`}
				style={`mask-image: url(${PixelTriangle.src}); mask-size: contain; mask-repeat: no-repeat; mask-position: center; -webkit-mask-image: url(${PixelTriangle.src}); -webkit-mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center;`}
			>
				<Image
					src={HeroImage}
					alt="Imagen de portada"
					class="pointer-events-none h-full w-full object-contain"
					draggable="false"
				/>
			</div>
		</div>
	</section>
	<main>
		<Card title="Contemporánea" />
	</main>
</Layout>

<style>
	@reference 'tailwindcss';

	.hero {
		@apply p-6;
	}
	.hero__content {
		@apply mx-auto max-w-7xl rounded-4xl bg-purple-600 p-12 flex flex-col lg:flex-row gap-6 justify-between;
		height: max(300px, 80vh);
		animation: reveal-animation 1s cubic-bezier(0.77, 0, 0.175, 1);
	}
	main {
		@apply p-6;
	}

	@keyframes reveal-animation {
		0% {
			clip-path: inset(100% 0 0 0);
		}
		100% {
			clip-path: inset(0 0 0 0);
		}
	}
</style>
