---
import Image from 'astro/components/Image.astro';
import shapegum from '@/assets/figures/Gum.svg';
import shapePixelCircle from '@/assets/figures/pixel-circle.svg';
import shapePuffyDiamond from '@/assets/figures/puffy-diamond.svg';
---

<footer>
	<div class="footer-content">
		<div class="flex gap-3">
			<Image
				src={shapegum}
				alt="Gum Shape"
				class="h-12 w-12"
			/>
			<Image
				src={shapePixelCircle}
				alt="Pixel Circle"
				class="h-12 w-12"
			/>
			<Image
				src={shapePuffyDiamond}
				alt="Puffy Diamond"
				class="h-12 w-12"
			/>
		</div>
		<p class="copy">© 2026. Todos los derechos reservados.</p>
	</div>
</footer>

<style>
	@reference "tailwindcss";
	@reference "@/global.css";

	footer {
		@apply w-full;
	}
	.footer-content {
		@apply flex w-full flex-wrap items-center justify-between gap-4 bg-zinc-200 py-4 pr-21 pl-6;
	}
	.copy {
		@apply text-sm font-semibold text-gray-700;
	}
</style>
