---

---

<div class="navbar__wrapper">
    <nav class="navbar">
        <a href="/" class="text-zinc-100 font-display tracking-widest text-lg uppercase">M</a>
    </nav>
</div>

<style>
    @reference "tailwindcss";
    @reference "@/global.css";

    .navbar__wrapper {
        @apply sticky top-0 left-0 w-full z-50 p-3 border-b border-zinc-800 bg-zinc-900/80 backdrop-blur-sm;
    }
</style>