---

---

<header class="navbar__wrapper">
	<nav class="navbar">
		<a
			href="/"
			class="navbar__logo"
			>Música</a
		>
		<label
			for="nav-toggle"
			class="navbar__checkbox-label"
		>
			<input
				type="checkbox"
				id="nav-toggle"
				class="navbar__checkbox navbar__checkbox--hidden"
			/>
			<div class="navbar__menu-line navbar__menu-line--1"></div>
			<div class="navbar__menu-line navbar__menu-line--2"></div>
		</label>
	</nav>
</header>

<div class="nav-panel">
	<nav class="nav-panel__nav">
		<ul class="nav-panel__links">
			<li><a href="/" class="nav-panel__link">Inicio</a></li>
			<li><a href="/history" class="nav-panel__link">Historia</a></li>
			<li><a href="/artists" class="nav-panel__link">Artistas</a></li>
			<li><a href="/genres" class="nav-panel__link">Géneros</a></li>
			<li><a href="/instruments" class="nav-panel__link">Instrumentos</a></li>
			<li><a href="/labels" class="nav-panel__link">Disqueras</a></li>
		</ul>
	</nav>
</div>

<style>
	@reference "../global.css";

	.navbar__wrapper {
		@apply sticky top-0 left-0 z-120 w-full border-b border-zinc-800 bg-zinc-900/80 px-5 py-3 backdrop-blur-sm;
	}
	.navbar {
		@apply flex items-center justify-between;
	}
	.navbar__logo {
		@apply font-display text-lg tracking-widest text-zinc-100 uppercase;
		text-box: trim-both cap alphabetic;
	}
	.navbar__checkbox-label {
		@apply relative flex size-9 cursor-pointer flex-col items-center justify-center gap-2;
	}
	.navbar__checkbox:checked ~ .navbar__menu-line--1 {
		@apply -rotate-45;
		top: initial;
	}
	.navbar__checkbox:checked ~ .navbar__menu-line--2 {
		@apply rotate-45;
		bottom: initial;
	}
	.navbar__wrapper:has(.navbar__checkbox:checked) ~ .nav-panel {
		transform: translateX(0);
	}

	.navbar__wrapper:has(.navbar__checkbox:checked) ~ .nav-panel .nav-panel__link {
		opacity: 1;
		transform: translateY(0);
		transition-delay: 0.3s;
	}

	.navbar__checkbox--hidden {
		@apply hidden;
	}
	.navbar__menu-line {
		@apply absolute h-0.5 w-full bg-zinc-200 transition-transform duration-300 ease-in-out;
	}
	.navbar__menu-line--1 {
		@apply top-3;
	}
	.navbar__menu-line--2 {
		@apply bottom-3;
	}

	.nav-panel {
		@apply fixed top-0 right-0 z-110 h-screen bg-zinc-900 transition-transform duration-300 ease-in-out;
		width: min(100%, 400px);
		transform: translateX(100%);
	}

	.nav-panel__nav {
		@apply flex h-full items-center justify-center;
	}

	.nav-panel__links {
		@apply text-center;
	}

	.nav-panel__link {
		@apply font-display block py-4 text-3xl tracking-widest text-zinc-100 uppercase hover:underline;
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
	}

	li:nth-child(2) .nav-panel__link { transition-delay: 0.4s; }
	li:nth-child(3) .nav-panel__link { transition-delay: 0.5s; }
	li:nth-child(4) .nav-panel__link { transition-delay: 0.6s; }
	li:nth-child(5) .nav-panel__link { transition-delay: 0.7s; }
	li:nth-child(6) .nav-panel__link { transition-delay: 0.8s; }
</style>
