---
import '@/global.css';
import { ClientRouter } from 'astro:transitions';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import Loader from '@/components/Loader.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Música</title>
		<ClientRouter />
	</head>
	<body class="bg-zinc-950">
		<Navbar />
		<slot />
		<Footer />
		<Loader />

		<script>
			// Ocultar loader en la carga inicial
			document.addEventListener('astro:page-load', () => {
				const loader = document.querySelector('.loader');
				if (loader) {
					loader.classList.remove('loader--active');
				}
			});

			// Mostrar loader antes de navegar
			document.addEventListener('astro:before-preparation', () => {
				const loader = document.querySelector('.loader');
				if (loader) {
					loader.classList.add('loader--active');
				}
			});
		</script>
	</body>
</html>
